* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --clr: rgb(15, 20, 27);
}
body {
  background: var(--clr);
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 220px;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
  padding-right: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.sidebar.closed {
  width: 90px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-height: 95vh;
  /* background-color: aqua; */
}
.sidebar ul li {
  cursor: pointer;
}
/* set text color of categories while being hovered and selected */
.sidebar ul li:is(:hover, .selected) .text{
  color: var(--bg);
}

/* set color of icons */
.sidebar ul li:hover .icon{
  color: var(--bg);
}
/* change icons' color to white during being selected */
.sidebar ul li:is(.selected) .icon{
  color: white;
}

.sidebar ul li .icon {
  font-size: 2rem ;
}
.sidebar .menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  justify-content: center;
}
.sidebar li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  position: relative;
  text-transform: uppercase;
  padding: 7px; 
  width: 100%;
  border-radius: 50px 0 0 50px;
}

.sidebar div .selected {
  background: var(--clr);
}
/* add background for icons */
.sidebar .menu-list .icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  flex-shrink: 0;
  transition: background 1.5s, color 0.5s;
}
/* change background color while being selected */
.sidebar .menu-list .selected .icon {
  background: var(--bg);
}

/* adjust icons' position */
.sidebar .menu-list .icon ion-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}
/* build curve */
.sidebar .menu-list .selected::before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: -20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px var(--clr);
}
.sidebar .menu-list .selected::after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  bottom: -20px;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px var(--clr);
}
/* add hover to icons */
.sidebar .menu-list .selected .icon:hover {
  background: white;
  color: var(--bg);
}

/* adjust log out button */
.sidebar .bottom li {
  border-radius: 30px;
}
.sidebar .bottom li:hover {
  color: rgb(232, 53, 53);
  background-color: white;
}

/* deal with menu */
.sidebar .top {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.sidebar .top .menu {
  cursor: pointer;
  position: absolute;
  left: 35px;
  top: 10px;
}


/* layout content */

/* Header */
.header {
  grid-area: header;
  color: white;
  display: flex;
  align-items: center;
}
    /*Search*/
.header .search {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header #search {
  padding: 10px 35px;
  font-size: 1rem;
  border: 1px solid var(--clr);
  border-radius: 30px;
  outline: none;
  width: 100%;
}
/* add search icon */
.header .search .search-box {
  width: clamp(250px, 50%, 500px);
  position: relative;
}
.header .search-icon {
  position: absolute;
  left: 10px;
  color: rgb(100, 100, 100);
  top: 10px;
  font-size: 1.2rem;
}

/* Main */
.main {
  grid-area: main;
  color: white;
}

    /*Report */

/* report grid */
.main .report ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px auto;
}

/* create flex for each element */
.main .report ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border: 1px solid white;
  border-radius: 20px;
}

/* make icons bigger and change color*/
.main .report .icon {
  font-size: 2.5rem;
}

/* make number in each element bigger */
.main .report .amount {
  font-size: 2.25rem;
}

/* MAIN */
.main .information {
  display: flex;
  gap: 30px;
}
/* edit ORDERS part */
.main .information .orders {
  flex: 2;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
}
.main .information .orders .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


/* create gap between line */
.main .information .body {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
/* style content of orders */
.main .information .orders .order {
  display: grid;
  grid-template-columns: 3fr 80px 80px 2fr;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* style status in orders table */
.main .information .orders .status-box {
  display: flex;
  justify-content: end;
}
.main .information .orders .status{
  align-self: flex-end;
  text-align: end;
  padding: 3px 5px;
  border-radius: 10px;
  background-color: var(--bg);
  /* color: var(--clr); */
  font-size: 0.8rem;
}

/* make header in orders table bold */
.main .information .orders .thead {
  font-weight: 700;
  font-size: 1.1rem;
}


/* style button */ 
.main .information .orders .head button {
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
}
/* make the "customer" and "orders" words bold */
.main .information .title {
  font-size: 2rem;
  font-weight: 700;
}

/* edit CUSTOMERS part */
.main .information .customers {
  flex: 1;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  /* create gap */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

 /* bold customers' name*/ 
 .main .information .customers .name {
  font-size: 1.3rem;
  font-weight: 700;
 }

 /* light customers' nationality */
 .main .information .customers .nationality {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
 }

 /* create gap between each customer */
 .main .information .customers .body {
  display: flex;
  gap: 13px;
 }