* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --clr: rgb(15, 20, 27);
}
body {
  background: var(--clr);
  min-height: 100vh;
}

.sidebar {
  position: absolute;
  width: 220px;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
  padding-right: 0;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-height: 95vh;
  /* background-color: aqua; */
}
.sidebar ul li {
  cursor: pointer;
}
.sidebar ul li:hover :where(.icon, .text){
  color: var(--bg);
}
.sidebar ul li .icon {
  font-size: 2rem ;
}
.sidebar .menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  justify-content: center;
}
.sidebar li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  position: relative;
  text-transform: uppercase;
  padding: 7px; 
  width: 100%;
  border-radius: 30px 0 0 30px;
}

.sidebar div li:hover {
  background: var(--clr);
}
/* add background for icons */
.sidebar .menu-list .icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  position: relative;
}
.sidebar .menu-list .icon ion-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}
/* build curve */
.sidebar .menu-list li:hover::before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: -20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px var(--clr);
}
.sidebar .menu-list li:hover::after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  bottom: -20px;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px var(--clr);
}

/* adjust log out button */
.sidebar .bottom li {
  border-radius: 30px;
  width: 95%;
}
.sidebar .bottom li:hover {
  color: rgb(232, 53, 53);
  background-color: white;
}

/* deal with menu */
.sidebar .top {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.sidebar .top .menu {
  cursor: pointer;
}
